<div class="wrapper">
	<section class="main">
		<div class="main__container">
			<h1 class="main__title">Movie-list:</h1>
			<div class="main__movies-list">
				<app-movie-card class="main__movie" [data]="movie[0]" (addFavorites)="handleAddFavorites($event)"
					(addWatchList)="handleAddWatchList($event)">
				</app-movie-card>
				<app-movie-card class="main__movie" [data]="movie[1]" (addFavorites)="handleAddFavorites($event)"
					(addWatchList)="handleAddWatchList($event)">
				</app-movie-card>
				<app-movie-card class="main__movie" [data]="movie[2]" (addFavorites)="handleAddFavorites($event)"
					(addWatchList)="handleAddWatchList($event)">
				</app-movie-card>
				<app-movie-card class="main__movie" [data]="movie[3]" (addFavorites)="handleAddFavorites($event)"
					(addWatchList)="handleAddWatchList($event)">
				</app-movie-card>
			</div>
		</div>
	</section>
	<aside>
		<section class="favorites">
			<div class="favorites__container">
				<h2 class="favorites__title">My Favorites:</h2>
			</div>
		</section>
		<section class="watch-list">
			<div class="watch-list__container">
				<h2 class="watch-list__title">My Watch List:</h2>
			</div>
		</section>
	</aside>
</div>